.cat-list li  {
  background-color: #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .8rem 1.6rem;
  position: relative;
  text-align: center;
}

.cat-list li button {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  padding: 0;
  position: absolute;
  justify-content: center;
  top: 0;
  right: 0;
  width: 12px;
}